@import url("./green.css");

/*
* {
  margin-top: 10px
}
*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}


input:checked + .slider:active:before {
  box-shadow: 0 0 1px #2196F3;
  transform: translateX(18px);
  transition: 120ms;
}

input:not(:checked) + .slider:active:before {
  box-shadow: 0 0 1px #2196F3;
  transform: translateX(8px);
  transition: 120ms;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*
button {
  border: 0.125em solid transparent;
  border-radius: 0.5em;
  padding: 0.25em;
  color: white;
  background: var(--color);
}

button:hover {
  background: var(--hover-color);
}

button:disabled {
  opacity: 60%;
  cursor: not-allowed;
}

input {
  padding: 0.25em;
  border: 0.125em solid var(--border-color);
}

input:checked + .slider:active:before {
  transform: translateX(8px);
  transition: 1s;
}
  
input:not(:checked) + .slider:active:before {
  transform: translateX(18px);
  transition: 1s;
}
*/