:root {
  --color-h: 120;
  --color-s: 40%;
  --color-l: 45%;
  --show-preview: hsl(120, 40%, 45%);  /* unused, should match vars */

  --color:      hsl(var(--color-h), var(--color-s), var(--color-l));
  --color-lite: hsl(var(--color-h), calc(var(--color-s)-5%), calc(var(--color-l) + 25%));
  --color-dark: hsl(var(--color-h), calc(var(--color-s)+5%), calc(var(--color-l) - 20%));

  --accent-color: hsl(200, 40%, 80%);
  --border-color: hsl(100, 90%, 25%);
  --hover-color:  hsl(50, 80%, 80%);
}